.app-container {
    display: flex;
    height: 100vh;
  }
  
  .content-container {
    flex: 1 1 auto;
    overflow-y: auto;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .menu-left {
      position: fixed;
      width: 100%; 
      height: 100vh;
      background-color: #f8f9fa; 
    }
  
    .content-container {
      margin-left: 0; 
      flex: 1;
      overflow-y: auto;
      background: #eff3f8;
    }
    
  }