
.container-create-outlay {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.outlay-label {
  font-size: 16px;
  font-weight: 600;
}

.outlay-input {
  width: 100%;
  margin: 15px 0;
  margin-top: 2px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
