.container-profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  background-color: transparent;
  margin: 0;
}

.container-title {
  width: 80%;
  margin: 20px auto;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  left: 20px;
}

.container-title h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-bottom: -10px;
}

.container-title p {
  font-size: 17px;
  font-weight: 400;
}

@media(max-width: 600px) {
  .container-title h1 {
    font-size: 30px;
  }

  .container-title p {
    font-size: 15px;
  }

  .container-profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0;
    justify-items: center;
  }
}